body {
    background-color: chartreuse;
    text-align: center;
    align-content: center;
}

.input-group-rounded {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}